
<form  [formGroup]="form"    class="container">
  <div class="card p-fluid">
  <h5>transfer</h5>
 
  <div class="field">
    <label htmlFor="toAddress">Recipient Address</label>
    <input pInputText id="toAddress"
    formControlName="toAddress"
    maxlength="42"
    minlength="40"
     type="text" />
     <small  *ngIf="getErrorMessage('toAddress')">{{  getErrorMessage("toAddress") }}  </small>
     <!--     Inform the 42 characters long owner's account address -->
  </div>
  <div class="field">
    <label htmlFor="value">value</label>
    <input pInputText id="value" type="text" 
    placeholder="Tranfer value"

    
    formControlName="value"
    min="1"
    type="number"
  
    />
    <small  *ngIf="getErrorMessage('value')">{{  getErrorMessage("value") }}  </small>
      
  </div>
  <div class="field">
    
  
 
  <button pButton pRipple label="Submit" icon="pi pi-bookmark" (click)="transfer()"></button>
     
  </div>
</div>



 </form>


<div class="container">
 
  <div>
    <h2>Latest Transfer Events</h2>
    <erc20-transfer-event
      [contractERC20]="contractERC20"
      ngClass="events-container"
    >
    </erc20-transfer-event>
  </div>
</div>
