<div class="grid">
    <div class="col-12 md:col-6">
        <div class="card p-fluid">
            <h5>Read Contract</h5>
            <div class="formgroup-inline">
                <div class="field">
                    <button pButton pRipple type="button" (click)="greetMe()" label="Get Greet"
                        class="p-button-secondary mr-2 mb-2"></button>
                </div>
                <div class="field">
                    <span class="font-medium ml-2"> {{greet}} </span>
                </div>

            </div>
        </div>

    </div>



    <div class="col-12 md:col-6">
        <div class="card p-fluid">
            <form [formGroup]="gform" class="normal-text-color">
                <div class="col-12 md:col-4">
                    <div class="p-inputgroup">
                        <span class="p-inputgroup-addon">Say Sameting</span>
                        <input type="text" pInputText placeholder="sayed" formControlName="saysame">

                    </div>
                </div>
                <div class="col-12 md:col-4">
                    <div class="p-inputgroup">

                        <button pButton pRipple type="button" (click)="onApproveClicked()" label="Write"
                            class="p-button-secondary mr-2 mb-2"></button>

                    </div>
                </div>
            </form>
        </div>
    </div>
</div>