
<form  [formGroup]="form"    class="container">
  <div class="card p-fluid">
  <h5>transfer</h5>
 
  <div class="field">
    <label htmlFor="fromAddress">From Address</label>
    <input pInputText id="fromAddress"
    formControlName="fromAddress"
    maxlength="42"
    minlength="40"
     type="text" />
     <small  *ngIf="getErrorMessage('fromAddress')">{{  getErrorMessage("fromAddress") }}  </small>
     <!--     Inform the 42 characters long owner's account address -->
  </div>



  


  <div class="field">
    <label htmlFor="toAddress">toAddress</label>
    <input pInputText id="toAddress" type="text" 
    
    formControlName="toAddress"
    maxlength="42"
    minlength="40"/>
    <small  *ngIf="getErrorMessage('toAddress')">{{  getErrorMessage("toAddress") }}  </small>
      
  </div>
  <div class="field">
    

     
  <div class="field">
    <label htmlFor="value">Tranfer value</label>
    <input pInputText id="value"
    formControlName="value"
    min="1"
    type="number"
        />
     <small  *ngIf="getErrorMessage('value')">{{  getErrorMessage("value") }}  </small>
     <!--     Inform the 42 characters long owner's account address -->
  </div>
  
 
  <button pButton pRipple label="Submit" icon="pi pi-bookmark" (close)="transferFrom()"></button>
     
  </div>
</div>



 </form>












 
