

<form  [formGroup]="form"    class="container">
  <div class="card p-fluid">
  <h5>Allowance</h5>
 
  <div class="field">
    <label htmlFor="accountAddress">accountAddress</label>
    <input pInputText id="accountAddress"
    formControlName="accountAddress"
    maxlength="42"
    minlength="40"
     type="text" />
     <small  *ngIf="getErrorMessage('accountAddress')">{{  getErrorMessage("accountAddress") }}  </small>
     <!--     Inform the 42 characters long owner's account address -->
  </div>
 
  <div class="field">
    
  
 
  <button pButton pRipple label="Submit" icon="pi pi-bookmark" (click)="getBalance()"></button>
     
  </div>
</div>



 </form>


 
 
  <div class="balance"  >
    {{ formatedBalanceTooltip }} {{ symbol }}
  </div>
 
    
 