
<div class="col-12 md:col-12">

 <form [formGroup]="form"   class="container">

 

<div class="p-inputgroup">
  <span class="p-inputgroup-addon">Account Address</span>
  <input   formControlName="accountAddress" pInputText />

</div>

<div class="col-12 md:col-12">
  <button pButton pRipple type="button" (click)="getBalance()" label="Write"
  class="p-button-secondary mr-2 mb-2"></button>
</div>

</form>

 
 
  <div class="balance"  >
    {{ formatedBalance }} {{ symbol }}
  </div>
 
    
</div>