<h1 id="angular-web3-starter">Angular-web3-starter</h1>



<p><img src="https://sade-c.github.io/Angular-web3-starter/assets/angweb3.png" width="800" title="angular web3"
        alt="angular web3" />
</p>
<p>
    Basic operations for
    those who want to develop web3 on Angular.</p>
<h2 id="template">Template</h2>
<p>Free Angular Admin Template by PrimeNG www.primefaces.org/sakai-ng</p>
<h2 id="usage">Usage</h2>
<p>The following is a basic example of how to use the Angular-web3-starter.</p>
<p>The <code>src/app/app.module.ts</code> file contains the main Angular module and the
    <code>src/app/app.component.ts</code>
    file contains the main component.
</p>
<p>The <code>src/app/app.component.html</code> file contains the HTML template for the main component.</p>
<p>The <code>src/app/app.component.css</code> file contains the CSS styles for the main component.</p>
<p>The <code>src/app/app.component.ts</code> file contains the Angular component class.</p>
<p>The <code>src/app/app.component.html</code> file contains the Angular component HTML template.</p>
<h2>
    <a href="https://github.com/sade-c/Angular-web3-starter" target="_blank">github link:</a>

</h2>

<h2 id="dependencies">Dependencies</h2>
<p>The following is a list of dependencies for the Angular-web3-starter.</p>
<ul>
    <li>Angular</li>
    <li>Angular CLI</li>
    <li>Angular Material</li>
    <li>Angular Web3</li>
    <li>Angular-web3-starter</li>
    <li>PrimeNG</li>
    <li>Sakai-ng</li>
</ul>
<h2 id="installation">Installation</h2>
<p>The following is a basic example of how to install the Angular-web3-starter.</p>
<p>The <code>npm install</code> command is used to install the Angular-web3-starter.</p>
<p>The <code>npm  run build</code> command is used to build the Angular-web3-starter.</p>
<p>The <code>npm  run serve</code> command is used to serve the Angular-web3-starter.</p>
<p>The <code>npm  run watch </code> command is used to watch the Angular-web3-starter.</p>
<p>The <code>npm  run test</code> command is used to test the Angular-web3-starter.</p>
<p>The <code>npm  run build.polygon </code> command is used to polygon environment Usage</p>
<p>The <code>npm  run build.avalanche </code> command is used to avalanche environment Usage</p>