
<form  [formGroup]="form"    class="container">
  <div class="card p-fluid">
  <h5>Allowance</h5>
 
  <div class="field">
    <label htmlFor="ownerAddress">Owner Address</label>
    <input pInputText id="ownerAddress"
    formControlName="ownerAddress"
    maxlength="42"
    minlength="40"
     type="text" />
     <small  *ngIf="getErrorMessage('ownerAddress')">{{  getErrorMessage("ownerAddress") }}  </small>
     <!--     Inform the 42 characters long owner's account address -->
  </div>
  <div class="field">
    <label htmlFor="spenderAddress">Spender Address</label>
    <input pInputText id="spenderAddress" type="text" 
    placeholder="Spender's address"
    formControlName="spenderAddress"
    maxlength="42"
    minlength="40"/>
    <small  *ngIf="getErrorMessage('spenderAddress')">{{  getErrorMessage("spenderAddress") }}  </small>
<!--     Inform the 42 characters long owner's account address -->
     
  </div>
  <div class="field">
    
  
 
  <button pButton pRipple label="Submit" icon="pi pi-bookmark" (close)="getAllowance()"></button>
     
  </div>
</div>



 </form>

 

 

<ng-template #balance>
  <div class="value"  >
    {{ formatedAllowance }} {{ symbol }}
  </div>
</ng-template>
